* {
    margin: 0 auto;
    padding: 0 ;
    box-sizing: border-box;
}

body {
    background-color: #adf4ffe7;
    padding-top: 100px;
}

header {
    display: block;
    align-items: center;
}

.container {
    max-width: 960px;
    width: 100%;

}

h1 {
    text-align: center;
    padding: 16px;
    font-size: 48px;
    margin-bottom: 16px;
}

form {
    display: block;
    max-width: 960px;
    width: 100%;
    justify-content: space-between;
}

form button {
    margin-left: 0 auto;
    margin-bottom: 8px;
    padding: 12px;
    display: block;
    background-color: rgba(16, 153, 146, 0.551);
    color: #ffff;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgba(16, 153, 146, 0.551);
    cursor: pointer;
    
}

#reset-btn {
    padding-left: 22px;
    text-align: center;
}

form input {
    margin: 0 auto;
    margin-bottom: 8px;
    font-size: 24px;
    background-color: #ffff;
    border: 2px solid rgba(16, 153, 146, 0.551);
    padding: 12px;
    text-align: center;
    display: block;
}






